// rules/index.scss

.rule-card {
    height: 150px;
    min-width: 360px;
    border: 1px solid $yellow;
    padding: 13px;
    p {
        font-size: calc(1rem + .7vw);
    }
}

@media only screen and (max-width: 360px) {
    .rule-card {
        min-width: 310px;
    }
}

.rule-controls {
    top: 0;
    right: -20px;
}

.rules-page-title {
    font-size: calc(2rem + 1vw);
}