// rules/index.scss

.rule-card {
    height: 140px;
    min-width: 370px;
    border: 1px solid $yellow;
    padding: 13px;
    p {
        font-size: calc(.75rem + 1vw);
    }
}

.rule-controls {
    top: 0;
    right: -20px;
}