// .about-main {
//     position: relative;
//     padding-top: 15vh;
//     height: 100%;
//     width: 100%;
//     img {
//         width: 100%;
//     }
//     p {
//         font-size: calc(2rem + 1vw);
//     }
// }

.about-container {
    position: relative;
    top: 15vh;
    font-size: calc(1rem + 3vw);
}

.about-p-font {
    font-size: calc(1rem + 1vw);
}

.photo {
    position: relative;
    div {
        background-color: $blue-opacity;
        position: absolute;
        bottom: 5px;
        left: 10px;
        padding: 10px;
        line-height: 1.1;
    }
    p {
        margin: 0;
    }
    #photo-title {
        font-size: calc(1rem + .4vw);
    }
    .photo-describe {
        font-size: calc(.6rem + .6vw);
    }
    img {
        width: 375px;

    }
}