// .about-main {
//     position: relative;
//     padding-top: 15vh;
//     height: 100%;
//     width: 100%;
//     img {
//         width: 100%;
//     }
//     p {
//         font-size: calc(2rem + 1vw);
//     }
// }

.about-container {
    position: relative;
    top: 12vh;
    font-size: calc(1rem + 3vw);
    line-height: .9;
}

.about-p-font {
    font-size: calc(1rem + .35vw);
    line-height: 1.3;
}

.about-history {
    font-size: calc(1rem + .35vw);
    line-height: 1.3;
}

.about-motto {
    font-size: calc(1.1rem + 1vw);
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 4.5s steps(40, end),
}

.about-arrow {
    display: none;
}

@media (max-width: 576px) {
    .about-arrow {
        display: inline;
        position: fixed;
        z-index: 1;
        right: 10px;
        color: $yellow;
    }
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }


.photo {
    position: relative;
    div {
        background-color: $blue-opacity;
        position: absolute;
        bottom: 5px;
        left: 10px;
        padding: 5px 10px;
        line-height: 1.1;
    }
    p {
        margin: 0;
    }
    .photo-title {
        font-size: calc(1rem + .4vw);
    }
    .photo-describe {
        font-size: calc(.7rem + .4vw);
    }

    img {
        // width: 375px;
        width: calc(20vh + 30vw);
        max-width: 450px;
        min-width: 350px;
    }
}

#foca {
    width: 100%;
}