footer {
  // height: 8vh;
  width: 100%;
  background-color: $neon-green;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.footer-social i {
  font-size: calc( 4vh + 1vw );
  margin-right: 20px;
  color: $blue;
  width: 100%;
}

.web-dev {
  height: 80%;
  top: 10%;
  right: 15px;
  font-size: calc( .5vh + .4vw );
  img { 
    height: calc( 1.5vh + .8vw);
  }
}
