* {
  scrollbar-width: thin;
  scrollbar-color: $yellow $yellow;
  ::-webkit-scrollbar {
    width: 1px;
  }
}
.articles {
  scrollbar-width: thin;
  scrollbar-color: $yellow $yellow;
}
// scroll bar
.articles::-webkit-scrollbar {
  width: 0px;
}
// end
a {
  &:hover {
    text-decoration: none;
  }
}

.font {
  font-family: $font;
}

.font-weight {
  text-shadow: 1px 1px 1px $blue,
               1.2px 1.2px 1.2px $blue;
}

.f-w-light {
  text-shadow: .3px .3px 1px $blue,
               .4px .4px 1.2px $blue,
               .5px .5px 1.3px $blue;

}

.f-w-light-y {
  text-shadow: .3px .3px 1px $yellow,
               .4px .4px 2px black;
}

.blue {
  color: $blue;
  a {
    color: $blue;
  }
}

.yellow {
  color: $yellow;
  a {
    color: $yellow;
  }
}

.bck-blue {
  background-color: $blue;
}

.bck-yellow {
  background-color: $yellow;
}

.round-border {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}

textarea.form-control {
  height: 100px;
  border-radius: 20px;
}

.box-shadow {
  box-shadow: 1px 1px 10px rgb(6, 6, 37);
}


@media only screen and (max-width: 575px) {
  .box-shadow {
    box-shadow: 1px 1px 5px rgb(6, 6, 37);
  }
}