* {
  scrollbar-width: none;
  ::-webkit-scrollbar {
    width: 1px;
  }
}
.articles {
  scrollbar-width: enon;
}
// scroll bar
.articles::-webkit-scrollbar {
  width: 0px;
}
// end
a {
  &:hover {
    text-decoration: none;
  }
}

.font {
  font-family: $font;
}

.font-weight {
  text-shadow: 1px 1px 1px $blue,
               1.2px 1.2px 1.2px $blue;
}

.f-w-light {
  text-shadow: .3px .3px 1px $blue,
               .4px .4px 1.2px $blue,
               .5px .5px 1.3px $blue;

}

.f-w-light-y {
  text-shadow: .3px .3px 1px 1px $yellow;
}

.blue {
  color: $blue;
  a {
    color: $blue;
  }
}

.light-blue {
  color: $light-blue;
  a {
    color: $light-blue;
  }
  &:hover {
    color: $light-blue;
  }
}

.neon-green {
  color: $neon-green;
  a {
    color: $neon-green;
  }
  &:hover {
    color: $neon-green;
  }
}

.dark-green {
  color: $dark-green;
  a {
    color: $dark-green;
  }
  &:hover {
    color: $dark-green;
  }
}

.yellow {
  color: $yellow;
  a {
    color: $yellow;
  }
}

.bck-blue {
  background-color: $blue;
}

.bck-yellow {
  background-color: $yellow;
}

.bck-neon-green {
  background-color: $neon-green;
}

.bck-light {
  background-color: rgba(0,0,0,.1);
}

.round-border {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.neon-square-button {
  border: 2px solid $neon-green;
}

.text-shadow-neon-green {
  text-shadow: 0 0 1px $neon-green;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-x {
  overflow-x: scroll;
  overflow-y: hidden;
}

textarea.form-control {
  height: 100px;
}

.box-shadow {
  box-shadow: 1px 1px 10px rgb(6, 6, 37);
}


@media only screen and (max-width: 575px) {
  .box-shadow {
    box-shadow: 1px 1px 5px rgb(6, 6, 37);
  }
}