html, body {
  position: relative;
  background-color: $blue;
  width: 100%;
  height: 100%;
}

.desktop {
  top: 10vh;
}

.mobile {
  display: none;
}

.home-master {
  height: 80vh;
}

.home-div, .home-3rd-div {
  border-radius: 20px;
  height: 70%;
}

.home-div {
  background-color: $yellow;
  overflow: hidden;
}

.home-div i, .about i, .rules i, .prices i {
  font-size: calc( 2vh + 2vw);
}

.about, .rules, .prices {
  height: 30%;
  background-color: $yellow;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20%;
  &:hover {
    cursor: pointer;
  }
}
.video-div {
  overflow: hidden;
  z-index: 2;
  #home-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

}

.article {
  position: relative;
  width: 80%;
  left: 10%;
}


.news-edit {
  position: relative;
  left: 20px;
}

// media queries 

@media only screen and (max-width: 1199px) and (min-width: 576px)  {
  .home-div, .home-3rd-div {
    height: 40%;
  }
}

@media only screen and (max-width: 575px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: inline-block;
    position: relative;
  }

  .home-video-mobile {
    height: 200px;
    width: 100%;
    padding: 0;
    border-radius: 20px;
      #home-video {
        position: absolute;
        width: 100%;
        border-radius: 20px;
        margin: 0 auto;
      }
  }

  .home-news-mobile {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    .home-news-scroll {
      height: 250px;
      overflow-y: scroll;
    }
  }
  .home-prices-mobile {
    height: 130px;
    width: 100%;
    border-radius: 20px;
    font-size: calc(1.2vh + 2vw);
  }
  .home-rules-mobile, .home-about-mobile {
    height: 130px;
    width: 100%;
    border-radius: 20px;
  }
}
