html, body {
  position: relative;
  background-color: $blue;
  width: 100%;
  height: 100%;
  scrollbar-width: 1px;
}

.desktop {
  top: 10vh;
}

.mobile {
  display: none;
}

.home-master {
  height: 80vh;
}

.home-div, .home-3rd-div {
  border-radius: 20px;
  height: 70%;
}

.home-3rd-div p {
  font-size: calc(1vh + 2vw);
}

.home-div i, .about i, .rules i, .prices i {
  font-size: calc( 2vh + 2vw);
}

.about, .rules, .prices {
  height: 30%;
  background-color: $yellow;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20%;
  &:hover {
    cursor: pointer;
  }
}
.news-div {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-div {
  overflow: hidden;
  z-index: 2;
  #home-video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

}

.articles {
  position: relative;
  height: 80%;
}
.article {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.article p {
  font-size: calc( 1vh + .5vw );
}


.news-edit {
  position: relative;
  left: 20px;
}

// media queries 

@media only screen and (max-width: 1199px) and (min-width: 576px)  {
  .home-div, .home-3rd-div {
    height: 40%;
  }
  .articles {
    height: 75%;
  }
}

@media only screen and (max-width: 575px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: inline-block;
    position: relative;
  }

  .home-video-mobile {
    height: 200px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    z-index: 1;
      #home-video {
        position: absolute;
        height: 100%;
      }
  }

  .home-news-mobile {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    .home-news-scroll {
      height: 250px;
      overflow-y: scroll;
    }
  }
  .home-prices-mobile, .home-rules-mobile, .home-about-mobile {
    height: 30vw;
    width: 100%;
    border-radius: 20px;
    p {
      font-size: 9vw;
    }
  }
  .articles {
    height: 75%;
  }
  .article p {
    font-size: 4vw;
  }
  
}
