html, body {
  position: relative;
  height: 100vh;
  background-color: $blue;
}

.desktop {
  top: 10vh;
}

.home-master {
  height: 80vh;
}

.home-div, .home-3rd-div {
  border-radius: 20px;
  height: 70%;
}

.home-div {
  background-color: $yellow;
  overflow: hidden;
}

.home-div i, .about i, .rules i, .prices i {
  font-size: calc( 2vh + 2vw);
}


.home-div_first-letter {
  font-size: calc( 2.5vh + 2.5vw );
}

.home-div_word {
  font-size: calc( 1.5vh + 1.5vw );
  margin-top: 10px;
}

.about, .rules, .prices {
  height: 30%;
  background-color: $yellow;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
}
#home-video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
}

// media queries 

@media only screen and (max-width: 1199px) and (min-width: 577px)  {
  .home-div, .home-3rd-div {
    height: 40%;
  }
}