.modal {
    top: 3vh;
}
.modal-body p {
    font-size: calc(.7vh + 1vw);
    z-index: 1;
}

#pool-svg, #cc-svg {
    position: absolute;
    width: 100%;
    opacity: .1;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

#cc-svg {
    width: 50%;
}

.modal-footer {
    z-index: 1;
}

.prices-bigfont {
    font-size: clamp(1.5rem, 3vw, 2.5rem) !important;
}

.prices-smfont {
    font-size: clamp(1.3rem, 3vw, 1.8rem) !important;
}

.modal-body p {
    font-size: calc(1rem + .6vw)
}

.modal-body p img {
    width: 10%;
}

.modal-footer {
    border-top: 1px solid $neon-green;
}

