<div class="modal fade" id="covid-19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bck-yellow rounded-border">
        <div class="modal-body font blue f-w-light">
            <h3 class="font blue f-w-light text-center">Reguli suplimentare pe perioada pandemiei:
            </h3>
            <hr>
            <p>Vă recomandăm să vă faceți programare și să vă prezentați la data 
            și ora stabilită.
            </p>
            <p>Mențineți distanța obligatorie de min. 1.5m față de persoanele din afara
                grupului dvs.
            </p>
            <p>Portul măștii este obligatoriu în spațiile comune (ex.: W.C.)
            </p>
            <p>Plătiți cu cardul.
            </p>
            <p>Renunțați la îmbrățișări, strângeri de mână sau alte gesturi de afecțiune.
            </p>
            <p>Spălați-vă pe mâini cât mai des, iar atunci când o faceți rezervați acestei
                 acțiuni min. 20 sec. Evitați atingerea suprafețelor cu care alții vin în contact.
            </p>
            <p>Evitați atingerea feței, ochilor sau nasului cu mâine nespălate.
            </p>
            <p>Strănutați sau tușiți acoperindu-vă nasul și gura cu cotul, batista etc...
            </p>
            <p>Dacă aveți simptome de răceală/gripă vă rugăm să rămâneți la domiciliu.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bck-blue yellow" data-dismiss="modal">Am citit!</button>
        </div>
      </div>
    </div>
  </div>