<footer class="d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex footer-social justify-content-center">
        <a href="tel:0040745034710"><i class="fas fa-mobile-alt"></i></a>
        <a href="https://api.whatsapp.com/send?phone=0040745034710&text=Bună ziua! Vă rog să-mi spuneți..."><i class="fab fa-whatsapp-square"></i></a>
        <a href="https://www.facebook.com/aquaclub.bacau/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://g.page/aquaclub-bacau?share" target="_blank"><i class="fas fa-map-marked-alt"></i></a>
      </div>
      <div class="web-dev position-absolute d-flex flex-column justify-content-around font">
        <p class="m-0">created with ❤️ by</p>
        <p class="m-0 text-center">
          <%= link_to "http://www.ursache.dev" do %>
            <%=  image_tag "dev.png" %>
          <% end %>
        </p>
        <p class="m-0">in Bacău - România</p>
      </div>
    </div>
  </div>
</footer>