<div class="modal fade" id="prices" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bck-blue round-border">
        <div class="modal-body font neon-green text-center modal-prices">
          <%= image_tag('undraw_Credit_card_3ed6.svg', id: 'cc-svg') %>
            <p class="prices-bigfont f-w-light-y text-center">Prețuri 2020
            </p>
            <p class='prices-bigfont m-0'><%= image_tag('clock.svg', class: 'mr-3') %> 09:00 - 18:00</p>
            <hr class="bck-neon-green">
            <p class='prices-bigfont m-0'>Luni - Vineri</p>
            <p class='prices-smfont m-0'>30 lei/persoană</p>
            <p class='prices-smfont m-0'>25 lei/copil ( 3 - 14 ani )</p>
            <hr class="bck-neon-green">
            <p class='prices-bigfont m-0'>Sâmbata - Duminica &</p>
            <p class='prices-smfont m-0'>Sărbători legale</p>
            <p class='prices-smfont m-0'>40 lei/persoană</p>
            <p class='prices-smfont m-0'>30 lei/copil > ( 3 - 14 ani )</p>
            <hr class="bck-neon-green">
            <p class='prices-smfont'>Pe perioada în care sunt restricții privind numărul maxim de persoane admise
              în incintă suspendăm toate tipurile de gratuități!
            </p>
            <p class='prices-smfont'>Vă mulțumim pentru înțelegere!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn font f-w-light bck-blue neon-green" data-dismiss="modal">Am citit!</button>
        </div>
      </div>
    </div>
  </div>