<div class="modal fade" id="covid-19" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable mb-5 modal-lg" role="document">
      <div class="modal-content bck-blue round-border mb-5">
        <div class="modal-body font yellow f-w-light-y">
          <%= image_tag('undraw_in_the_pool_c5h0.svg', id: 'pool-svg') %>
            <h3 class="font yellow f-w-light-y text-center">Reguli suplimentare pe perioada pandemiei:
            </h3>
            <hr>
            <p><i class="fas fa-less-than mr-3"></i> Pe perioada pandemiei capacitatea complexului scade la cca. 200 de persoane.
            </p>
            <p><i class="fas fa-calendar-check mr-3"></i> Vă recomandăm să vă faceți programare și să vă prezentați la data 
            și ora stabilită.
            </p>
            <p><i class="fas fa-people-arrows mr-3"></i> Mențineți distanța obligatorie de min. 1.5m față de persoanele din afara
                grupului dvs.
            </p>
            <p><i class="fas fa-umbrella-beach mr-3"></i> Nu mutați sezlongurile de la locul lor. Nu le apropiați de sezlongurile
              ocupate de alte persoane.
            </p>
            <p><i class="fas fa-head-side-mask mr-3"></i> Portul măștii este obligatoriu în spațiile comune (ex.: W.C.)
            </p>
            <p><i class="fas fa-credit-card mr-3"></i> Plătiți cu cardul (recomandare).
            </p>
            <p><i class="fas fa-handshake-slash mr-3"></i> Renunțați la îmbrățișări, strângeri de mână sau alte gesturi de afecțiune.
            </p>
            <p><i class="fas fa-hands-wash mr-3"></i> Spălați-vă pe mâini cât mai des, iar atunci când o faceți rezervați acestei
                 acțiuni min. 20 sec. Evitați atingerea suprafețelor cu care alții vin în contact.
            </p>
            <p><i class="fas fa-surprise mr-3"></i> Evitați atingerea feței, ochilor sau nasului cu mâine nespălate.
            </p>
            <p><i class="fas fa-box-tissue mr-3"></i> Strănutați sau tușiți acoperindu-vă nasul și gura cu cotul, batista etc...
            </p>
            <p><i class="fas fa-head-side-virus mr-3"></i> Dacă aveți simptome de răceală/gripă vă rugăm să rămâneți la domiciliu.
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn font bck-blue yellow" data-dismiss="modal">Am citit!</button>
        </div>
      </div>
    </div>
  </div>