<div class="about-main d-flex flex-column justify-content-center">
    <p class='text-center font yellow'>Still thinking about it...</p>
    <%= image_tag('undraw_developer_activity_bv83.svg', class: 'd-block') %>
</div>