<div class="container py-5">
    <div class="row py-5">
        <div class="col py-5">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        </div>
    </div>
</div>