.navbar-lewagon {
  justify-content: space-between;
  background: $neon-green;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
}

.nav-item i::before {
  margin-right: 10px;
  font-size: 30px;
  color: $blue;
}

.navbar-toggler-icon {
  background-image: image_url('swimmer.svg') !important;
}

@media(max-width: 575px) {
  .navbar-nav {
    padding: 20px;
    flex-direction: row;
    justify-content: center;
  }
  .nav-item{
    margin-left: 10px;
  }
}
